:root{
   --bg: #222;
   --tint: rgba(147, 233, 255, 0.85);
   --bigBlue: rgba(1, 64, 136, 0.9);
   --secondToSlide: 6;
   --slideProperty: (var(--secondToSlide))*1000;
}

*,*::before,*::after{
   box-sizing: border-box;
   margin: 0;
}

body{
   background-color: #ffffff;
}

.container{
   height: 20rem;
}

header{
   height: 100%;
   width: 100%;
   position: relative;
}
.heading1{
   font-size: 4rem;
   font-family: 'Matura MT Script Capitals';
   color: var(--bigBlue);
   text-transform: capitalize;
   text-align: center;
}

/*
   _______         ___       ____        __   __   __
      |    |___|  |__        |___  |__| |__| |__| |__
      |    |   |  |___       ____| |  | |  | |    |__
 */
.title{
   margin-left: 6.5rem;
   margin-top: 2rem;
   position: absolute;
   z-index: 2;
   font-size: 5em;
   font-family: 'Matura MT Script Capitals';
   color: var(--bigBlue);
}
.header-shape{
   position: absolute;
   height: 13rem;
   width: 100%;
   background-color: var(--tint);
   box-shadow: 5px 6px 6px black;
   clip-path: polygon(0 0, 100% 0%, 100% 10rem, 85% 10rem, 70% 12rem,
       55% 10.5rem, 45% 10.5rem, 30% 12rem, 20% 10.5rem, 0% 10rem);
}
.header-shadow-shape{
   position: absolute;
   z-index: -1;
   height: 13rem;
   width: 100%;
   background-color: black;
   filter: blur(12px);
   box-shadow: 5px 6px 6px black;
   clip-path: polygon(0 0, 100% 0%, 100% 10.2rem, 85% 10.2rem, 70% 12.2rem,
       55% 10.7rem, 45% 10.7rem, 30% 12.2rem, 20% 10.7rem, 0% 10.2rem);
}

.header-ender{
   position: absolute;
   top: 7rem;
   z-index: -2;
   height: 20rem;
   width: 100%;
   background-color: rgba(192, 240, 252, 0.95);
   filter: blur(12px);
   box-shadow: 5px 6px 6px black;
   clip-path: polygon(0 0, 100% 0%, 100% 10.2rem, 85% 10.2rem, 70% 12.2rem,
       55% 10.7rem, 45% 10.7rem, 30% 12.2rem, 20% 10.7rem, 0% 10.2rem);
}


/*  Logo Image */
.logo{
   position: absolute;
   top: 2.8rem;
   left: 38%;
}

/*  Nav Bar Settings */

nav{
   position: absolute;
   bottom: 4rem ;
   width: 100%;
   height: 4rem;
   z-index: 5;
}

nav ul{
   height: 100%;
   list-style: none;

}
nav ul li{
   height: 100%;
   display: inline-block;
   margin: 2rem;
}

nav ul li a{
   text-decoration: none;
   font-size: 2em;
   color: var(--bigBlue);
   transition: font-size 200ms ease-in-out 50ms;
}
nav ul li a:hover{
   font-size: 2.4em
}

.litem1{
   position: absolute; left: 130px;
}


.litem2{
   position: absolute; left: 340px;
}
.litem3{
   position: absolute; right: 340px;
}
.litem4{
   position: absolute; right: 130px;
}
/* Nav Bar Ends */

/* Content begins here */

.content{
   position: absolute;
   top: 10rem;
   width: 100%;
}


/* The Image Slider */
.pics{
   position: absolute;
   z-index: -3;
   height: 45rem;
   width: 100%;
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.slides{
   width: 100%;
   position: absolute;
   float: left;
   margin-right: -100%;
   transform-origin: right;
   transform: scale(0,1);
   opacity: 0.25;
}

.s1{
       animation: slider 24000ms ease-in-out 0ms infinite forwards;
}

.s2{
       animation: slider 24000ms ease-in-out 6000ms infinite forwards;
}

.s3{
       animation: slider 24000ms ease-in-out 12000ms infinite forwards;
}

.s4{
       animation: slider 24000ms ease-in-out 18000ms infinite forwards;
}
/* This makes them slide */
@keyframes slider{
   0%{
      opacity: 0.25;
      transform: scale(0,1);
   }

   4%{
      opacity: 1;
      transform: scale(1,1);
   }

   28%{
      opacity: 1;
      transform: scale(1,1);
      transform-origin: left;
   }

   32%{
      opacity: 0.25;
      transform: scale(0,1);
   }
   100%{
      opacity: 0.25;
      transform: scale(0,1);
   }
}
/* keyframes end here:    ; */


.references{
   margin-top: 20rem;
   position: absolute;
   z-index: 2;
   width: 100%;
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: 1fr auto 2fr 1fr auto auto 1fr auto auto 1fr auto auto 1fr;
   background-image: url(/img/bg.png);
   background-size: 100% auto;

}
.references a{
   width: 100%;
}
.references a img{
   margin-top: 2rem;
   transform: scale(1,1);
   background-color: none;
   border-radius: 150px;
   transition: background-color 350ms ease-in-out 100ms, transform 350ms ease-in-out 100ms;
}
.references a img:hover{
   transform: scale(1.2,1.2);
   background-color: rgba(1, 64, 136, 0.7);
}

.gritem1{  grid-column: 2 / 2;  margin-left: 2rem;}
.gritem2{  grid-column: 5 / 5; }
.gritem3{  grid-column: 8 / 8; }
.gritem4{  grid-column: 11 / 11; }

.references div h2{
   color: rgb(255, 255, 255);
   -webkit-text-stroke: 2px var(--bigBlue);
   text-align: center;
   position: relative;
   z-index: 2;
   margin-top: 8rem;
   font-size: 2rem;
   font-family: 'Forte';
   float: left;
   opacity: 0;
   transition: opacity 350ms ease-in-out 0ms, font-size 350ms ease-in-out 0ms;
}
.references div .it2{
   margin-top: 6.5rem;
}
.references a:hover + div h2{
   font-size: 2.5rem;
   opacity: 1;
}
.bgx{
   position: relative;
   margin-top: 15rem;
   width: 100%;
   height: 20rem;

   clip-path: polygon(0 100% , 100% 100% , 100% 20%, 80% 30% , 70% 35%, 60% 40%,40% 30%, 30% 25%, 25% 30%, 15% 35%, 5% 30%, 0 0);
}
.data{
   margin-left: 5rem;
   margin-top: 3.5rem;
   position: relative;
   z-index: 100;
   font-size: 1.7rem;
   font-family: 'Impact';
}
.data div{
   position: absolute;
   font-size: 3.75rem;

}

.imgs{
   position: relative;
   z-index: 1;
   top: 60rem;
}
.ban1, .ban3, .ban5{
   float: left;
   margin: 0 4rem ;
   padding-top: 0;
   padding-bottom: 0;
}

.park-info-data{
   margin-left: 4rem;
   font-family: 'Times New Roman';
   font-weight: normal;
   font-size: 1.4rem;
}